<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.bandpad.cordova.audiofrequency"
        version="0.0.2"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>AudioFrequency</name>

    <js-module name="AudioFrequency" src="www/audiofrequency.js">
        <clobbers target="cordova.plugins.audiofrequency" />
    </js-module>

    <!-- ios -->
    <platform name="ios">

        <!--<config-file parent="/*" target="config.xml">-->
        <config-file target="config.xml" parent="/widget">
            <feature name="AudioFrequency">
                <param name="ios-package" value="CDVAudioFrequency" />
            </feature>
        </config-file>

        <source-file src="src/ios/CDVAudioFrequency.m" />
        <source-file src="src/ios/ToneReceiver.h" />
        <source-file src="src/ios/ToneReceiver.m" />

        <framework src="Accelerate.framework" weak="true" />
        <framework src="AVFoundation.framework" weak="true" />

    </platform>

    <!-- android -->
    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AudioFrequency">
                <param name="android-package" value="com.bandpad.cordova.audiofrequency.AudioFrequency" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
        </config-file>

        <source-file src="src/android/AudioFrequency.java" target-dir="src/com/bandpad/cordova/audiofrequency" />
        <source-file src="src/android/ToneReceiver.java" target-dir="src/com/bandpad/cordova/audiofrequency" />
		<source-file src="src/android/FastYin.java" target-dir="src/com/bandpad/cordova/audiofrequency" />
		<source-file src="src/android/PitchDetectionResult.java" target-dir="src/com/bandpad/cordova/audiofrequency" />

        <source-file src="src/android/JTransforms-3.0.jar" target-dir="libs"/>
        <source-file src="src/android/JLargeArrays-1.2.jar" target-dir="libs"/>

    </platform>

</plugin>
